{% extends 'blog/base.html'%}

{% block title %}My Blog{% endblock %}

{% block content %}
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

{% for pos in data %}
<div class="post-entry">
    <h2><a href="{% url 'post_detail' pos.slug %}">{{ pos.title }}</a>

    </h2>
    <p class="tags">
        Tags:
        {% for tag in pos.tags.all %}
        <a href="{% url 'post_list_by_tag' tag.slug %}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %},
        {% endif %}
        {% endfor %}
    </p>
    <p> {{ pos.body|truncatewords:10|linebreaks }}</p>
    <br>
    <p class="date" style="color: grey; font-style:italic;">
        Published {{ pos.publish }} by {{ post.author }}
    </p>

    <br>
</div>
{% endfor %}
{% include "pagination.html" with page=data %}
{% endblock content %}